[Unit]
Description=RClone OneDrive Bisync

[Service]
Type=oneshot
ExecStart=rclone bisync "OneDrive Pessoal": /home/je/Clouds/OneDrive \
  --exclude "Cofre Pessoal" \
  --exclude "Cofre Pessoal/**" \
  --exclude "Vídeos" \
  --exclude "Vídeos/**" \
  --exclude "**/.~lock.*#" \
  --exclude ".~lock.*#" \
  --recover \
  --resilient \
  --log-file=/home/je/rclone-onedrive.log

[Install]
WantedBy=default.target
